.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  .logo {
    .logo__image {
      position: relative;
      top: 4px;
      right: -3px;
    }
  }
  .menu__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      list-style: none;
      margin: 0;
      padding-left: 0;
      display: flex;
      .menu__item {
        margin-left: 28px;
        .menu__item-link {
          font-family: $font-family-primary;
          font-weight: 500;
          text-decoration: none;
          display: block;
          color: #5d6e80;
          font-size: 15px;
          text-transform: uppercase;
          padding: 5px;
          &:hover {
            color: #1dd2af;
          }
        }
      }
    }
    .search {
      background-color: transparent;
      border: none;
      margin-left: 13px;
      .search__icon {
        color: #2c3e50;
        font-size: 20px;
        border-radius: 50%;
        border: 3px solid #2c3e50;
        padding: 8px;
        position: relative;
        top: 1px;
        right: -10px;
        &:hover {
          color: #1dd2af;
          border-color: #1dd2af;
        }
      }
    }
  }
}