.slider__arrow {
  background-color: #ffffff;
  position: absolute;
  top: 450px;
  left: 0;
  z-index: 5;
  background-color: rgba(255,255,255,0.5);
  border: none;
  .arrow-icon {
    font-size: 50px;
    color: #ffffff;
    font-weight: lighter;
  }
}

.slider__arrow-next {
  position: absolute;
  top: 450px;
  right: 0;
  left: auto;
}

.main-slider {
  .main-slider-slide {
    font-family: $font-family-primary;
    height: 691px;
    overflow: hidden;
    position: relative;
    .main-slider__image {
      position: absolute;
    }
    .cotainet-center {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      .title__large {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 50px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 1px;
        word-spacing: 2px;
        letter-spacing: -0.5px;
      }
      .subtitle {
        font-family: $font-family-primary;
        display: block;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        color: #ffffff;
      }
      .main-slider__buttom {
        text-align: center;
        position: relative;
        top: 37px;
        .btn-primary {
          text-transform: uppercase;
          border: 1px solid #ffffff;
          background-color: transparent;
          padding: 14px 27px 16px 23px;
          color: #ffffff;
          border-radius: 4px;
          font-size: 20px;
          &:first-of-type {
            margin-right: 26px;
            padding: 14px 17px 16px 23px;
          }
          &:hover {
            background-color: #1dd2af;
            border-color: #1dd2af;
          }
        }
      }
    }
  }
}