.topbar {
  background-color: #2c3e50;
  color: #ffffff;
  font-size: 15px;
  font-family: $font-family-primary;
  .topbar__text{
    font-weight: 300;
  }
}

.topbar__wrap {
  display: flex;
  justify-content: space-between;
}

.topbar__action {
  display: flex;
}

.topbar__button {
  outline: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 18px 12px 18px;
  position: relative;
  font-family: $font-family-primary;
  &:first-child {
    padding-left: 4px;
  }
  &:nth-child(3){
    padding-right: 18px;
    .topbar__button-icons {
      position: relative;
      top: 3px;
      left: -2px;
      margin-right: 4px;
    }
    .text_colored {
      color: #1dd2af;
    }
  }
  &:before {
    content: '';
    display: block;
    border-right: 1px solid #17202a;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  &:after {
    content: '';
    display: block;
    border-right: 1px solid #374d63;
    position: absolute;
    right: -1px;
    top: 0;
    height: 100%;
  }
}

.topbar__button-icons {
  margin-right: 4px;
  font-size: 16px;
}

.topbar__call {
  align-self: center;
  margin-left: 15px;
  font-weight: 300;
  .topbar__tell {
    letter-spacing: 0.5px;
  }
}

.topbar__social {
  display: flex;
  align-content: center;
  justify-content: space-between;
  .topbar__social-button {
    background-color: transparent;
    border: none;
    position: relative;
    width: 45px;
    &:before {
      content: '';
      display: block;
      border-right: 1px solid #17202a;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
    &:after {
      content: '';
      display: block;
      border-right: 1px solid #374d63;
      position: absolute;
      right: -1px;
      top: 0;
      height: 100%;
    }
    &:first-of-type {
      &:before {
        content: '';
        display: block;
        border-left: 1px solid #17202a;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
      &:after {
        content: '';
        display: block;
        border-left: 1px solid #374d63;
        position: absolute;
        left: 1px;
        top: 0;
        height: 100%;
      }
    }
    .topbar__social-icons {
      color: #ffffff;
      font-size: 16px;
    }
  }
}