@import "variables";
@import "components/texts";

@import "components/button.scss";
@import "components/topbar.scss";
@import "components/header.scss";
@import "components/content";
@import "components/footer";
@import "components/slider";

body {
  margin: 0;
}
.container{
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
}

